






/* ===================================================================
 *  01. join
 *
 * ------------------------------------------------------------------- */


.section-join { width:100%;background:#f5f6f8;margin: 0 auto;text-align: center;padding:100px 0}
.join-type {width:1000px;margin:0 auto;text-align:center;}

.join-type > ul > li {width:25%;display:inline-block;background:#fff;vertical-align:top;padding:3%;border:1px solid #f5f6f8}
.join-type > ul > li:nth-child(1) {margin-right:3%;}
.join-type > ul > li:hover {border:1px solid #0982eb;cursor: pointer;}
.join-type > ul > li:hover > a > span.smlBtn01 {background:#0982eb;line-height:20px;font-size:18px;color:#Fff;display:block;width:30%;margin:0 auto;margin-top:30px;padding:10px 20px;}

.join-type > ul > li > a {font-weight:normal;font-size:25px;color:#000;line-height:40px}
.join-type > ul > li > a > span {display:block}
.join-type > ul > li > a > span.smlBtn01{border:1px solid #0982eb;line-height:20px;font-size:18px;color: #0982eb;display:block;width:30%;margin:0 auto;margin-top:30px;padding:10px 20px;border-radius:3px}
.join-type > ul > li > a > span > img {max-width:100%;padding-bottom:30px}



















/* ===================================================================
 *  02. join_Individual / join_corporation
 *
 * ------------------------------------------------------------------- */


.join-warp { width:100%;background:#f5f6f8;margin: 0 auto;text-align: center;padding:100px 0}
.join-step > p {color:#666;padding-top:10px;font-size:12px}

.form-join {width:500px;padding:30px 40px;background:#fff;margin:0 auto;text-align:center;display:inline-block}

.form-type > h2 {padding-bottom:20px} 
.form-type > h2 > span{font-weight: normal;}
.form-type > p {text-align:left;padding-bottom:10px}

hr {border: 0;    height: 1px;background: #Ddd;margin:30px 0}

.frm-input {text-align:left;margin-bottom:20px;}

.input-style01 {width:100%;height: 40px;line-height: 40px;border: 0;background: #f5f6f8;text-indent:10px;font-size: 15px;}
.input-style02 {width:100%;margin-bottom:5px;display:block;height: 40px;line-height: 40px;border: 0;background: #f5f6f8;text-indent:10px;font-size: 15px;margin-bottom: 10px;}
.input-style03 {width:56%;height: 40px;line-height: 40px;border: 0;background: #f5f6f8;text-indent:10px;font-size: 15px;margin-top: 10px;}
.input-style04 {width:71%;height: 40px;line-height: 40px;border: 0;background: #f5f6f8;text-indent:10px;font-size: 15px;margin-right:12px}
.input-style05 {width:100%;height: 40px;line-height: 40px;border: 0;background: #f5f6f8;text-indent:10px;font-size: 15px;}

.radio-style {vertical-align:middle;display:inline`-block;}
.radio-label {vertical-align:middle;width:32%;display:inline-block;}

.select-style {color:#666;font-size:15px;width:38%;height:40px;line-height:40px;border:0;background:#f5f6f8;padding:0 1%}

.checkbox-style01 {width:4% !important;vertical-align: middle;margin: 0;}
.checkbox-style02 {width:4% !important;vertical-align: middle;margin: 0;}

.label-style01 {font-size:11px;color:#666}
.label-style02{font-size:15px;color:#666;    font-weight: normal;}

.join-btn01 {background:#0982eb;color:#Fff;border:0;height:40px;line-height:40px;cursor: pointer;font-size:18px;width:100%;display:block;margin:0 auto;text-align: center !important;margin-top:10px;margin-bottom:20px;border-radius:3px}
.join-btn02 {color:#fff;width:25%;height:40px;line-height:40px;cursor: pointer;background:#707070;margin-bottom:10px;border:0;border-radius:3px}
.join-btn03 {color:#fff;width:25%;height:40px;line-height:40px;cursor: pointer;background:#707070;border:0;border-radius:3px}
.join-btn04 {background:#0982eb;color:#Fff;border:0;height:45px;line-height:45px;cursor: pointer;font-size:18px;width:50%;display:block;margin:0 auto;text-align: center !important;margin-top: 50px;margin-bottom:30px;border-radius:3px}
.join-btn04 > a{color:#fff}

.form-type2 {margin-top:30px;text-align:left;font-weight:bold}
.form-type2 > table {width:100%;border:1px solid #ddd;border-collapse: collapse;margin-top:30px; }
.form-type2 > table > caption { height:30px;font-size:15px;text-align:left;}
.form-type2 > table > thead > tr > th {height:40px;background:#f5f6f8;text-align:center;font-size:12px;}
.form-type2 > table > tbody > tr > td {line-height:16px;text-align:center;font-size:12px;padding:10px 0;color:#666;font-weight: normal;}
.form-type2 > a {padding:0 20px;color:#666;font-size:15px;text-decoration:underline;}
.form-type2 > a:hover {color:#0982eb}


.join-memo {padding-top:15px;}

/* 툴팁 css  */
.tooltip{ display:none;font-size:11px;color:red;text-align:left}












/* ===================================================================
 *  03.join_complate
 *
 * ------------------------------------------------------------------- */

.join-complate{ width:100%;background:#f5f6f8;margin: 0 auto;text-align: center;padding:100px 0}
.join-complate-box   {width:500px;padding:30px 40px;background:#fff;margin:0 auto;text-align:center;display:inline-block}
.join-complate-box > h2 {font-size:50px;font-weight:normal} 
.join-complate-box > p {font-size:20px}
.join-complate-btn {background:#0982eb;color:#Fff;border:0;height:45px;line-height:45px;cursor: pointer;font-size:18px;width:50%;display:block;margin:0 auto;text-align: center !important;margin-top:30px;margin-bottom:30px;border-radius:3px}
.join-complate-btn > a{color:#fff}
.fa-check {font-size:65px;color:#0982eb}

