






/* ===================================================================
 *  01. login
 *
 * ------------------------------------------------------------------- */


.login-wrap { width:100%;background:#f5f6f8;margin: 0 auto;text-align: center;padding:100px 0}
.login-area {width:1000px;margin:0 auto;text-align:center;}
.login-area > div {width:40%;display:inline-block;background:#fff;vertical-align:top;padding:3%;}
.login-area > div > h2 {font-size:30px}
.login-area > div > h2 > span {font-weight:normal;}

.default-login {;margin-right:3%}
.form-login {text-align:left;width:100%;}
.form-login > fieldset {border:0;}

.form-login .frm-input > input {width:100%;display: inline-block;border:0;background:#f1f1f1;height:35px;vertical-align: middle;line-height: 35px;text-indent:10px;margin-bottom:10px;}
.form-login .frm-checkbox {text-align:right;padding: 5px 0;}
.form-login .frm-checkbox > input{text-align:right;}

.form-login .frm-button {padding:10px 0 20px 0}
.form-login .frm-button > button {width:100%;background:#0982eb;border:0;line-height:45px;color:#fff;font-size:18px;cursor: pointer;border-radius:3px}
.form-login .frm-button > button > a{color:#fff;font-weight: bold;}

.login-link > span > a {display:inline-block;color:#000;text-align:center;font-size:15px;padding: 0 10px;}
.login-link > span > a:hover {text-decoration:underline;color:#0982eb}
.join-style {color:#0982eb !important;font-weight:bold}

.sns-login .sns-inner {display:block}
.sns-login .sns-inner a {width:20%;margin:1%;display:inline-block;vertical-align: top;}
.sns-login .sns-inner a i {display:block;border-radius:3px;height:60px}
.sns-login .sns-inner a span {display:block;margin-top:10px}
.sns-login .sns-inner a.ico-naver i {background: #1dc800;}
.sns-login .sns-inner a.ico-naver span {color:#1dc800;}
.sns-login .sns-inner a.ico-facebook i {background: #3b5999}
.sns-login .sns-inner a.ico-facebook span {color: #3b5999}
.sns-login .sns-inner a.ico-kakao i {background: #ffeb00;}
.sns-login .sns-inner a.ico-kakao span {color:#391f1f;}
.sns-login .sns-inner a.ico-twitter i {background: #2aaae0;}
.sns-login .sns-inner a.ico-twitter span {color:#2aaae0;}

.sns-login .txt-box {padding-top:40px;margin-top:40px;border-top:1px solid #ddd}


.tooltip{ display:none;font-size:11px;color:red}














/* ===================================================================
 *  02. find-idpw
 *
 * ------------------------------------------------------------------- */


.login-wrap { width:100%;background:#f5f6f8;margin: 0 auto;text-align: center;padding:100px 0}
.login-area {width:1000px;margin:0 auto;text-align:center;}

.login-table {width:40%;display:inline-block;background:#fff;vertical-align:top;padding:3%;}
.login-table > h2 {text-align:left;font-size:25px;padding-bottom:30px }

.login-right {margin-right:3%}

.login-box {max-width:100%;}
.login-box > div {width:100%;display:inline-block;text-align:left;min-height:260px;}

.login-table > div:nth-child(4){ display:none;}

.login-tab{padding-bottom: 20px;display: inline-block;width:100%;}

.login-tab > ul {width: 100%;display: inline-block;position:relative}
.login-tab > ul:after{ position:absolute;;width:198px; display:block; border-bottom:1px solid #ddd; bottom:2px ;right:0; content:""}
.login-tab > ul > li{position:relative ;border:1px solid #ddd;}

.login-tab-btn{width:25%;margin-top:2px; margin-bottom:2px;float:left;text-align:center;display:inline-block; text-overflow:ellipsis;}
.login-tab-btn > a{text-decoration:none;font-weight:normal !important;font-size: 15px;padding:10px;display: block;color:#000}

.login-tab > ul > li.login-tab-active{ border-bottom:1px solid #fff;}
.login-tab > ul > li.login-tab-active:nth-child(1) {border-right:#Fff}
.login-tab > ul > li.login-tab-active:nth-child(2) {border-left:#Fff}



.login-tab-active > a{ color:#1282e9 !important;}

.id-input > input {width:100%;height: 40px;line-height: 40px;border: 0;background: #f5f6f8;text-indent:10px;font-size: 15px;margin-bottom:10px}
.id-radio > input {width:4%;height: 40px;line-height: 40px;vertical-align:middle}
.id-radio > label {border: 0;font-size: 15px;vertical-align:middle}
.id-ok  {background:#0982eb;color:#Fff;border:0;height:45px;line-height:45px;cursor: pointer;font-size:18px;width:50%;display:block;margin:0 auto;text-align: center !important;margin-top:20px;border-radius:3px}
.id-ok > a {color:#fff}














/* ===================================================================
 *  03. find_id_ok
 *
 * ------------------------------------------------------------------- */



.find-id-warp{ width:100%;background:#f5f6f8;margin: 0 auto;text-align: center;padding:100px 0}
.find-id-box   {width:500px;padding:30px 40px;background:#fff;margin:0 auto;text-align:center;display:inline-block}
.find-id-box > h2 {font-size:50px;font-weight:normal} 
.find-id-box > p {font-size:20px;line-height:30px}
.find-id-box > p > span {font-weight:bold;color:#0982eb}
.find-id-btn {background:#0982eb;color:#Fff;border:0;height:45px;line-height:45px;cursor: pointer;font-size:18px;width:50%;display:block;margin:0 auto;text-align: center !important;margin-top:30px;margin-bottom:30px;border-radius:3px}
.find-id-btn > a{color:#fff}
.fa-check {font-size:65px;color:#0982eb}




















/* ===================================================================
 *  04. find_pw_ok
 *
 * ------------------------------------------------------------------- */



.find-pw-warp{ width:100%;background:#f5f6f8;margin: 0 auto;text-align: center;padding:100px 0}
.find-pw-box   {width:500px;padding:30px 40px;background:#fff;margin:0 auto;text-align:center;display:inline-block}
.find-pw-box > h2 {font-size:50px;font-weight:normal} 
.find-pw-box > p {font-size:15px;line-height:30px}
.find-pw-box > p > span {font-weight:bold;color:#0982eb}
.find-pw-btn {background:#0982eb;color:#Fff;border:0;height:45px;line-height:45px;cursor: pointer;font-size:18px;width:50%;display:block;margin:0 auto;text-align: center !important;margin-top:30px;margin-bottom:30px;border-radius:3px}
.find-pw-btn > a{color:#fff}
.fa-check {font-size:65px;color:#0982eb}

















/* ===================================================================
 *  05. find_dormancy
 *
 * ------------------------------------------------------------------- */



.find-dormancy-warp{ width:100%;background:#f5f6f8;margin: 0 auto;text-align: center;padding:100px 0}
.find-dormancy-box   {width:400px;padding:30px 40px;background:#fff;margin:0 auto;text-align:center;display:inline-block}
.find-dormancy-box > h2 {font-size:30px;text-align:left;padding-bottom:20px} 
.find-dormancy-box > p {font-size:15px;line-height:25px;text-align:left;    background: #f5f6f8;padding: 20px;}
.find-dormancy-box > p > span {font-weight:bold;color:#0982eb}

.btn-find-dormancy {background:#0982eb;color:#Fff;border:0;height:45px;line-height:45px;cursor: pointer;font-size:18px;width:50%;display:block;margin:0 auto;text-align: center !important;margin-top:30px;margin-bottom:30px;border-radius:3px}
.fa-check {font-size:65px;color:#0982eb}











/* ===================================================================
 *  06. find_dormancy_check
 *
 * ------------------------------------------------------------------- */


.find-dormancy-check-warp { width:100%;background:#f5f6f8;margin: 0 auto;text-align: center;padding:100px 0}



.find-dormancy-check-table {width:400px;padding:30px 40px;background:#fff;margin:0 auto;text-align:center;display:inline-block}
.find-dormancy-check-table > div {text-align:left;}
.find-dormancy-check-table > div:nth-child(4){ display:none;}
.find-dormancy-check-table > h2 {text-align:left;font-size:25px;padding-bottom:30px }



.find-dormancy-check-box {max-width:100%;}
.find-dormancy-check-box > div {width:100%;display:inline-block;text-align:left;min-height:60px;}
.find-dormancy-check-box .frm-input {border-top:1px solid #ddd;padding-top: 30px;border-top: 1px solid #ddd;margin-top: 30px;}
.find-dormancy-check-box .radio-style {vertical-align:middle;display:inline-block;width:15px;height: 20px;margin: 0;    margin-right: 5px;}
.find-dormancy-check-box .radio-label {vertical-align:middle;width:20%;display:inline-block;}
.find-dormancy-check-box .join-btn02 {color:#fff;width:100%;height:40px;line-height:40px;cursor: pointer;background:#707070;border:0;margin-bottom:10px;border-radius:3px}
.find-dormancy-check-box .join-btn03 {color:#fff;width:25%;height:40px;line-height:40px;cursor: pointer;background:#707070;border:0;border-radius:3px}
.find-dormancy-check-box .input-style04 {width:71%;height: 40px;line-height: 40px;border: 0;background: #f5f6f8;text-indent:10px;font-size: 15px;margin-right:10px}

.find-dormancy-check-box .id-ok  {background:#0982eb;color:#Fff;border:0;height:45px;line-height:45px;cursor: pointer;font-size:18px;width:50%;display:block;margin:0 auto;text-align: center !important;margin-top:50px;border-radius:3px}
.find-dormancy-check-box .id-ok > a {color:#fff}
.find-dormancy-check-box > p {padding-top:10px}

.find-dormancy-check-tab{padding-bottom: 20px;display: inline-block;width:100%;}
.find-dormancy-check-tab > ul {width: 100%;display: inline-block;position:relative}
.find-dormancy-check-tab > ul:after{ position:absolute;;width:198px; display:block; border-bottom:1px solid #ddd; bottom:2px ;right:0; content:""}
.find-dormancy-check-tab > ul > li{position:relative ;border:1px solid #ddd;}
.find-dormancy-check-tab > ul > li.find-dormancy-check-tab-active{ border-bottom:1px solid #fff;}
.find-dormancy-check-tab > ul > li.find-dormancy-check-tab-active:nth-child(1) {border-right:#Fff}
.find-dormancy-check-tab > ul > li.find-dormancy-check-tab-active:nth-child(2) {border-left:#Fff}


.find-dormancy-tab-btn{width:25%;margin-top:2px; margin-bottom:2px;float:left;text-align:center;display:inline-block; text-overflow:ellipsis;}
.find-dormancy-tab-btn > a{text-decoration:none;font-weight:normal !important;font-size: 15px;padding:10px;display: block;color:#000}
.find-dormancy-check-tab-active > a{ color:#1282e9 !important;}



.find-dormancy-check-box .id-ok  {background:#0982eb;color:#Fff;border:0;height:45px;line-height:45px;cursor: pointer;font-size:18px;width:50%;display:block;margin:0 auto;text-align: center !important;margin-top:50px;border-radius:3px}
.find-dormancy-check-box .id-ok > a {color:#fff}









/* ===================================================================
 *  07. find_dormancy_edit
 *
 * ------------------------------------------------------------------- */


.find-dormancy-edit-warp { width:100%;background:#f5f6f8;margin: 0 auto;text-align: center;padding:100px 0}

.find-dormancy-edit-area  {width:400px;padding:30px 40px;background:#fff;margin:0 auto;text-align:center;display:inline-block}
.find-dormancy-edit-area > h2 {text-align:left;font-size:25px;}


.find-dormancy-edit-box {display:inline-block;vertical-align:top;text-align:left;width: 100%;}
.find-dormancy-edit-box > h3 {padding-bottom:30px;font-size:15px;font-weight: normal;}
.find-dormancy-edit-box > h3 > span {font-weight:bold;color:#0982eb}
.find-dormancy-edit-box > p {padding-bottom:30px; text-align:left;font-size:12px;}


.find-dormancy-edit-table1 {width:100%;line-height:45px;margin-bottom:30px; border-collapse: collapse;}
.find-dormancy-edit-table1 > thead > tr > th{background:#f5f6f8;text-align:center; }
.find-dormancy-edit-table1 > tbody > tr > td {text-align:center;}

.find-dormancy-edit-table2 {width:100%;line-height:35px;padding-bottom:30px border-collapse: collapse;}
.find-dormancy-edit-table2 > tbody > tr > td {text-align:left;padding-bottom:10px; }
.find-dormancy-edit-table2 > tbody > tr > td > input {width: 100%;height: 40px;line-height: 40px;border: 0;background: #f5f6f8;text-indent: 10px;font-size: 15px;}

.btn-find-dormancy-edit  {background:#0982eb;color:#Fff;border:0;height:45px;line-height:45px;cursor: pointer;font-size:18px;width:50%;display:block;margin:0 auto;text-align: center !important;margin-top:10px;margin-bottom:30px;border-radius:3px}
.btn-find-dormancy-edit > a {color:#fff}









/* ===================================================================
 *  08. find_dormancy_ok
 *
 * ------------------------------------------------------------------- */

.find-dormancy-ok-warp { width:100%;background:#f5f6f8;margin: 0 auto;text-align: center;padding:100px 0}
.find-dormancy-ok-box {width:400px;padding:30px 40px;background:#fff;margin:0 auto;text-align:center;display:inline-block}
.find-dormancy-ok-box > h2 {font-size:30px;text-align:center;line-heighT:40px} 
.find-dormancy-ok-box > p {font-size:15px;line-height:25px;text-align:center;}
.find-dormancy-ok-box > p > span {font-weight:bold;color:#0982eb}

.find-dormancy-ok-btn {background:#0982eb;color:#Fff;border:0;height:45px;line-height:45px;cursor: pointer;font-size:18px;width:50%;display:block;margin:0 auto;text-align: center !important;margin-top:30px;margin-bottom:30px;border-radius:3px}
.pw-change-box .frm-input > input {width:100%;display: inline-block;border:0;background:#f1f1f1;height:35px;vertical-align: middle;line-height: 35px;text-indent:10px;margin-bottom:10px}

















/* ===================================================================
 *  09. member-info
 *
 * ------------------------------------------------------------------- */

.member-info-warp { width:100%;background:#f5f6f8;margin: 0 auto;text-align: center;padding:100px 0}
.member-info-box {width:400px;padding:30px 40px;background:#fff;margin:0 auto;text-align:center;display:inline-block}
.member-info-box > h2 {font-size:30px;text-align:left;padding-bottom:20px} 
.member-info-box > p {font-size:15px;line-height:25px;text-align:left;padding-bottom:20px}
.member-info-box > p > span {font-weight:bold;color:#0982eb}
.member-info-box > .member-info-btn {background:#0982eb;color:#Fff;border:0;height:45px;line-height:45px;cursor: pointer;font-size:18px;width:50%;display:block;margin:0 auto;text-align: center !important;margin-top:30px;margin-bottom:30px;border-radius:3px}
.member-info-box > .frm-input > input {width:100%;display: inline-block;border:0;background:#f1f1f1;height:35px;vertical-align: middle;line-height: 35px;text-indent:10px;margin-bottom:10px}










/* ===================================================================
 *  10. member_info_edit
 *
 * ------------------------------------------------------------------- */


.member-info-edit-warp { width:100%;background:#f5f6f8;margin: 0 auto;text-align: center;padding:100px 0}

.member-info-edit-table {width:400px;padding:30px 40px;background:#fff;margin:0 auto;text-align:center;display:inline-block}
.member-info-edit-table > div {text-align:left;}
/*.member-info-edit-table > div:nth-child(4){ display:none;}*/
.member-info-edit-table > div.member-info-edit-box{ display:none ;}
.member-info-edit-table > div.memberTablActive{ display: block;}
.member-info-edit-table > h2 {text-align:left;font-size:25px;padding-bottom:30px }


.member-info-edit-box {max-width:100%;}
.member-info-edit-box > div {width:100%;display:inline-block;text-align:left;min-height:60px;}
.member-info-edit-box > div > h3 {text-align:left;font-size:14px;font-weight:normal;color:#1282e9;margin: 0;padding-bottom:10px;}
.member-info-edit-box > div > span {display:inline-block;font-size:12px;color:#999;line-height:18px;padding-bottom:15px;} 
.member-info-edit-box > div > p > a {font-size:12px;color:#999;line-height:18px}
.member-info-edit-box > div > p > a:hover{color:#0982eb;font-weight: bold;}
.member-info-edit-box > div > hr {height: 1px;background: #ddd;border: 0;margin-bottom:25px;}
.member-info-edit-box > div > p > span {color:#0982eb;font-weight: bold;}


.member-info-edit-box .input-type-a {padding-bottom: 15px;}
.member-info-edit-box .input-type-a > input {width:100%;height: 40px;line-height: 40px;border: 0;background: #f5f6f8;text-indent:10px;font-size: 15px;margin-bottom:10px}

.member-info-edit-box .input-type-a .input-btn01 {color:#fff;width:100%;height:40px;line-height:40px;cursor: pointer;background:#707070;border:0;margin-bottom:10px;border-radius:3px}
.member-info-edit-box .input-type-a .input-btn02 {color:#fff;width:25%;height:40px;line-height:40px;cursor: pointer;background:#707070;border:0;border-radius:3px}

.member-info-edit-box .input-type-a .input-type01 {width:100%;height: 40px;line-height: 40px;border: 0;background: #f5f6f8;text-indent:10px;font-size: 15px;margin-right:10px}
.member-info-edit-box .input-type-a .input-type02 {width:71%;height: 40px;line-height: 40px;border: 0;background: #f5f6f8;text-indent:10px;font-size: 15px;margin-right:10px}

.member-info-edit-box .input-type-b {padding:10px 15px;background:#f5f6f8;;vertical-align:middle;}
.member-info-edit-box .input-type-b .input-radio {width:20px;height:20px;vertical-align:middle;margin: 0;margin-right:5px;}
.member-info-edit-box .input-type-b .input-label {width:35%;vertical-align:middle;display: inline-block;}

.member-info-edit-box .input-type-c {padding-bottom:5px;}
.member-info-edit-box .input-type-c .input-check {margin: 0;height:20px;width:15px;vertical-align: middle;margin-right:10px;}
.member-info-edit-box .input-type-c .input-label {display:inline-block;font-size:15px}
.member-info-edit-box .input-type-c .input-textarea {width:95%;height:100px;border:1px solid #ddd;padding:2.5%;margin-top:20px}




.member-info-edit-box .member-info-edit-btn  {background:#0982eb;color:#Fff;border:0;height:45px;line-height:45px;cursor: pointer;font-size:18px;width:50%;margin:0 auto;text-align: center !important;margin-top:30px;border-radius:3px}
.member-info-edit-box .member-info-edit-btn > a {color:#fff}

.member-info-edit-tab{padding-bottom: 20px;display: inline-block;width:100%;}
.member-info-edit-tab > ul {width: 100%;display: inline-block;position:relative}
.member-info-edit-tab > ul:after{ position:absolute;;width:158px; display:block; border-bottom:1px solid #ddd; bottom:2px ;right:0; content:""}
.member-info-edit-tab > ul > li{position:relative ;border:1px solid #ddd;}
.member-info-edit-tab > ul > li.member-info-edit-tab-active{ border-bottom:1px solid #fff;}

.member-info-edit-tab > ul > li.member-info-edit-tab-active:nth-child(1) {border-right:#Fff;}
.member-info-edit-tab > ul > li.member-info-edit-tab-active:nth-child(2) {border-left:#Fff;border-right:#Fff}
.member-info-edit-tab > ul > li.member-info-edit-tab-active:nth-child(3) {border-left:#Fff;}

.member-info-edit-tab-btn{width:30%;margin-top:2px; margin-bottom:2px;float:left;text-align:center;display:inline-block; text-overflow:ellipsis;}
.member-info-edit-tab-btn > a{text-decoration:none;font-weight:normal !important;font-size: 15px;padding:10px;display: block;color:#000}
.member-info-edit-tab-active > a{ color:#1282e9 !important;}








/* ===================================================================
 *  11. member_info_edit_ok
 *
 * ------------------------------------------------------------------- */

.member-info-edit-ok-warp { width:100%;background:#f5f6f8;margin: 0 auto;text-align: center;padding:100px 0}
.member-info-edit-ok-table {width:400px;padding:30px 40px;background:#fff;margin:0 auto;text-align:center;display:inline-block}
.member-info-edit-ok-table > h2 {font-size:30px;text-align:center;padding-bottom:20px;line-height:40px;} 
.member-info-edit-ok-table > p {font-size:15px;line-height:25px;text-align:center;padding-bottom:20px}
.member-info-edit-ok-table > p > span {font-weight:bold;color:#0982eb}
.member-info-edit-ok-table > .btn-ok {background:#0982eb;color:#Fff;border:0;height:45px;line-height:45px;cursor: pointer;font-size:18px;width:50%;display:block;margin:0 auto;text-align: center !important;margin-top:30px;margin-bottom:30px;border-radius:3px}
