






/* ===================================================================
 *  01. privacy
 *
 * ------------------------------------------------------------------- */


.privacy-wrap { width:100%;background:#f5f6f8;margin: 0 auto;text-align: center;padding:100px 0}
.privacy-table {width:1050px;margin:0 auto;background:#fff;padding:20px 40px;text-align:left;}

.privacy-table > h2 {}
.privacy-table > p > span {padding:20px 0 20px 50px;display: block;font-size:13px;color:#666} 
.privacy-table > p > span > span {padding:20px 0 20px 50px;display: block;font-size:13px;color:#888} 
 

.privacy-table > h3 {padding-top:50px;font-size:18px}
.privacy-table > h4 {font-size:12px;    line-height: 25px; font-style: inherit;padding:20px 50px }
.privacy-table > h4 > b {color:#0075CB;}
.privacy-table > table {border-collapse: collapse;width:100%;font-size:13px}
.privacy-table > table > caption {text-align:left;margin-bottom:10px}
.privacy-table > table > thead > tr > th  {border:1px solid #ddd;line-height:50px;text-align:center;background:#f5f6f8;}
.privacy-table > table > tbody > tr > td {border:1px solid #ddd;line-height:30px;text-align:center;padding:10px }
.privacy-table > table > tbody > tr > th  {border:1px solid #ddd;line-height:30px;text-align:center;background:#f5f6f8;}

.privacy-table > div > dl {display:inline-block;width:27%;vertical-align:top;min-height: 210px;padding: 20px;margin-right:20px;background: #f5f6f8;}
.privacy-table > div > dl > dt {font-weight:bold;display:block;background:#fff; display: block;margin-bottom: 15px;padding: 5px 0 5px 10px;}
.privacy-table > div > dl > dd {margin:0;font-weight:normal;color:#0075CB;font-size:12px;line-height:20px}