/* ===================================================================
 *  01.common 
 *
 * ------------------------------------------------------------------- */


@charset "utf-8";


@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(https://cdn.linearicons.com/free/1.0.0/icon-font.min.css);



/* Reset with bootstrap */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;}
body,input,textarea,select,button,table{font-family: 'NanumSquareWeb', sans-serif;}
body{-ms-word-break:break-all;word-break:keep-all;word-wrap:break-word;}
a{text-decoration:none;color:inherit;border:0;utline: none; select-dummy: expression(this.hideFocus=true);outline: none;}
a:hover, a:focus, a:active{text-decoration:none;color:inherit;outline: none;}
a, button, input, textarea{-moz-transition:border-color .4s,background .3s,color .3s,opacity .4s;-webkit-transition:border-color .4s,background .3s,color .3s,opacity .4s;transition:border-color .3s,background .3s,color .3s,opacity .4s,transform .4s;}
li{list-style:none;}
address,em{font-style:normal;}
table{width:100%;}
textarea{resize:none;}
b, dt, label{font-weight:500;}
img{max-width:100%;}
hr {border: 0;height: 1px;background: #Ddd;margin:30px 0;}
button, input, optgroup, select, textarea, checkbox, radio {border-radius: 2px !important;box-shadow: none !important;text-shadow: none !important;}
input:focus {background: #f8fafc;border-color:#087ee3 !important;}
.form-control {border-color:#ddd !important;}
.input-medium {width:40%;display: block;height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}




/* radio button */
.radiocontainer {display: block;position: relative;padding-left: 25px;margin-bottom: 12px;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;display: inline-block;top: 0px;margin: 0;font-size: 14px;color: #555;margin-right: 15px; }
.radiocontainer input {position: absolute;opacity: 0;}
.radio-text {position: absolute;top: 3px;left: 0;height: 15px;width: 15px;background-color: #eee;border-radius: 50%;display: inline-block;}
.radiocontainer:hover input ~ .radio-text {background-color: #ccc;}
.radiocontainer input:checked ~ .radio-text {background-color: #087ee3;}
.radio-text:after {content: "";position: absolute;display: none;}
.radiocontainer input:checked ~ .radio-text:after {display: block;}
.radiocontainer .radio-text:after {top: 5px;left: 5px;width: 5px;height: 5px;border-radius: 50%; background: white;}


/* check box */
.chkcontainer {display: block;  position: relative;padding-left: 25px;cursor: pointer;font-size: 14px;-webkit-user-select: none;-moz-user-select: none; -ms-user-select: none; user-select: none;text-align: left;margin: 0;margin-right: 15px;}
.chkcontainer input {position: absolute;opacity: 0;cursor: pointer;}
.check-text {position: absolute;top:3px;left: 0;height: 15px;width: 15px;background-color: #eee;border-radius: 2px;}
.chkcontainer:hover input ~ .check-text { background-color: #ccc;}
.chkcontainer input:checked ~ .check-text {  background-color: #087ee3;}
.check-text:after {  content: "";  position: absolute;  display: none;}
.chkcontainer input:checked ~ .check-text:after {  display: block;}
.chkcontainer .check-text:after { left: 5px; top: 2px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}


/* select box */

.selectbox {position: relative;}
.btncontainer {background-color: #fff;border:1px solid #087ee3;color: #555;padding: 6.5px 10px;font-size: 14px;outline: none;border-radius: 2px 0 0 2px !important;text-align: left;width: 214px;}
.dropdown {position: absolute;display: inline-block;left: 214px;}
.dropdown-content {display: none;position: absolute;background-color:#fff;min-width: 242px;z-index: 1;right: 0;border: 1px solid #087ee3;border-top: 0;}
.dropdown-content a {color: #555;padding: 6.5px 10px;text-decoration: none;display: block;font-size: 12px;}
.dropdown-content a:hover {background-color:#f9f9f9;}
.dropdown:hover .dropdown-content {display: block;}
.btncontainer:hover, .dropdown:hover .btncontainer {background-color: #087ee3;color: #Fff;}
.btnstyle {border-left:0;border-radius: 0 2px 2px 0!important;text-align: center;padding: 6.5px 10px;width: inherit;margin-left: -1px;}







/* Grid */
.row{margin-right: -10px;margin-left: -10px;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{padding-left:10px;padding-right:10px;}

.container{margin:0 auto;padding-right:0px;padding-left: 0px;min-width: 1200px;max-width: 1200px;}
.wrapper {max-width: 1200px;min-width: 1200px;margin: 0 auto;}
.container-warp {display: inline-block;width: 100%;}
.blu-content{background: #fff;margin: 0 auto;margin-bottom: 50px;margin-top: 50px;position: relative;}
.tab-content {padding: 50px 0;}
.sub-content {width: 100%;background:#324962 url('/html/assets/images/sub_tit_v.png') ;margin: 0 auto;text-align: center;padding: 80px 0;}
.sub-content > div > h2 {font-size: 36px;text-align: left;color: #fff;margin: 0 auto;margin-top: 15px;}
.sub-content > div > h5 {font-size: 15px;color: #ffffff;text-align: left;margin-bottom: 0;margin: 0 auto;}







/* button */
.btn-primary {background-color: #087ee3 !important;border-color: #087ee3 !important;border-radius: 2px !important;}
.btn-primary:hover{background-color:#076fc8 !important;border-color:#005aa7 !important;}

.btn-success {background-color: #0aa761 !important;border-color: #0aa761 !important;border-radius: 2px !important;}
.btn-success:hover{background-color:#0a9255 !important;border-color:#077a47 !important;}

.btn-info {background-color: #4779da !important;border-color: #4779da !important;border-radius: 2px !important;}
.btn-info:hover {background-color:#076fc8 !important;border-color:#005aa7 !important;}
 
.btn-warning {background-color: #f6ba26 !important;border-color: #f6ba26 !important;border-radius: 2px !important;}
.btn-warning:hover{background-color:#edaf16 !important;border-color:#d89d0a !important;}

.btn-danger {background-color: #ef490f !important;border-color: #ef490f !important;border-radius: 2px !important;}
.btn-danger:hover {background-color:#e0440e !important;border-color:#c13b0c !important;}



.btn {padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;touch-action: manipulation;-ms-touch-action: manipulation;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;text-shadow: none;box-shadow: none;}


.color01 {color:#087ee3 !important;}
.color02 {color:#ef490f !important;}
.color03 {color:#4CAF50 !important;}
.color04 {color:#FFC107 !important;}
.color05 {color:#000 !important;}



.alert-warning {font-size: 12px;background: #f8efc0;border-radius: 2px;padding: 8px 12px;}
.alert-warning > a > i {color: #f68420;}
.alert-warning > a:hover {font-weight: 700;}





/* table */

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {border-bottom-width: 0px;}
.table>thead>tr>th {border-bottom:0;width: 180px;vertical-align: middle;text-align: center;}
.table>tbody>tr>th {border-bottom:0;width: 180px;vertical-align: middle;text-align: center;}



/* margins */
.ma0{margin-top:8px !important;}
.ma1{margin-bottom: 8px !important;}
.ma2{margin-bottom: 20px !important;}
.ma3{margin-top: 20px !important;}