/* ===================================================================
 * header 
 * ------------------------------------------------------------------- */






.header{width:100%;margin:0 auto;position: relative;z-index: 2;}

.blue-navbar {margin:0 auto;}
.blue-navbar > div{position:relative;margin-top: 10px;}
.blue-navbar > div > ul {width:100%;text-align:right;}
.blue-navbar > div > ul > li {display:inline-block;padding-left:3px;font-size:12px;vertical-align:top;}
.blue-navbar > div > ul > li > a {color:#555;}
.blue-navbar > div > ul > li > a:hover {color:#087ee3;}

.nav-menu {width:100%; margin:0 auto;text-align:center;position:relative;height: 70px;}
.nav-menu > div {display:inline-block; text-align:center;height:70px;/*position: initial;*/}
.nav-menu > div > h2 {position:absolute;margin: 0;text-align:left;top: 10px;}
.nav-menu > div > h2 > a > img {display:block;}
.nav-menu > div > ul{ table-layout:fixed; margin:auto; z-index:1;height:70px;float: right;}
.nav-menu > div > ul > li{float:left;table-layout:fixed;height:70px;text-align: right;}
.nav-menu > div > ul > li > a {padding-left:50px;color:#000;z-index:3;position: relative;height:70px;line-height:70px;font-size: 17px;font-weight:bold;display:inline-block;}
.nav-menu > div > ul > li > div{ width:100%; height:0; left:0; display:inline-block; position:absolute; text-align:center; z-index:1; top:70px;transition-duration:0.6s; overflow: hidden;background:#eff5fe;}

.nav-menu > div > ul > li > div > div{display:inline-block; table-layout:fixed; margin:auto; text-align:left; position:relative;padding: 40px 0;}
.nav-menu > div > ul > li > div > div > nav{ width:455px; height:100%;float:left;display:block; top:0;z-index:4;}
.nav-menu > div > ul > li > div > div > nav > h2 {font-size:20px;display:block; width:100%;color:#555;}
.nav-menu > div > ul > li > div > div > nav > p { font-size:15px;display:block;padding-top: 20px;color:#555;line-height: 1.8;width: 80%;}
.nav-menu > div > ul > li > div > div > nav > a { font-size:15px;display:block;padding-top: 10px;color:#0982eb;line-height: 1.8;}
.nav-menu > div > ul > li > div > div > nav > img {display:block;margin:0 auto;}

.nav-menu > div > ul > li > div > div > div {width:100%;padding-left:455px;}
.nav-menu > div > ul > li > div > div > div > ul{ width:180px;display:inline-block;vertical-align:top;}
.nav-menu > div > ul > li > div > div > div > ul > h2 {font-size:16px;margin-bottom: 15px;}
.nav-menu > div > ul > li > div > div > div > ul > h2 > a {color:#087ee3;}
.nav-menu > div > ul > li > div > div > div > ul > li > a {font-size:14px;color:#555;line-height:1.8;}
.nav-menu > div > ul > li > div > div > div > ul > li > a:hover{color: #fb5e27;}

.nav-menu > div > ul > li:hover > a{color:#fff;z-index:1;position:relative;color:#087ee3;}
.nav-menu > div > ul > li:hover > a:hover {color:#087ee3;}
.nav-menu > div > ul > li:hover > div{ width:100%; z-index:2;height:235px;}





/* ===================================================================
 *  slider
 * ------------------------------------------------------------------- */
.main-slider .bg-box{width:100%;height:400px !important;}
.bx-wrapper{ position: relative;}
.bx-wrapper .bx-viewport {background: none;	overflow: hidden;	
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.main-slider .bg-img01{background:url('#') no-repeat 50%;background-size:cover;background:#a1e4e7;}
.main-slider .bg-img02{background:url('#') no-repeat 50%;background-size:cover;background:#ecf3bf;}
.main-slider .bg-img03{background:url('#') no-repeat 50%;background-size:cover;background:#a0ddb1;}
.main-slider .bg-img04{background:url('#') no-repeat 50%;background-size:cover;background:#abb9f6;}


/* PAGER */
.main-slider .bx-wrapper .bx-pager {	position: relative;	width: 100%;text-align: center;font-size: .85em;position: absolute;bottom: 10px;width: 100px;left: 50%;margin-left: -50px;height:40px;}
.main-slider .bx-wrapper .bx-pager .bx-pager-item {display: inline-block;*zoom: 1;*display: inline;float: left;top: 30%;position: relative;}
.main-slider .bx-wrapper .bx-pager.bx-default-pager a {background: #ddd;text-indent: -9999px;display: block;width: 15px;height: 15px;margin: 0 5px;outline: 0;-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;}
.main-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active {background: #fb5e27;}


/* DIRECTION CONTROLS (NEXT / PREV) */
.main-slider .bx-controls-direction {position: absolute;display: inline-block;height: 40px;width: 90px;background: #Ddd;left: 50%;bottom: 10px;border-radius: 25px;margin-left: 70px;}
.main-slider.bx-wrapper .bx-controls-direction a.disabled {	display: none;}

.main-slider .bx-controls-auto-item {display: inline-block;position:absolute;float: left;}
.main-slider .bx-wrapper .bx-prev {background: url('/html/assets/images/main_slide_prev.png') no-repeat 50%;position: absolute;top: 50%;margin-top: -16px;outline: 0;width: 32px;height: 32px;text-indent: -9999px;z-index: 9999;left: 0;}
.main-slider .bx-wrapper .bx-next {background: url('/html/assets/images/main_slide_next.png') no-repeat 50%;position: absolute;top: 50%;margin-top: -16px;outline: 0;width: 32px;height: 32px;text-indent: -9999px;z-index: 9999;right: 0;}


/* AUTO CONTROLS (START / STOP) */
.main-slider .bx-wrapper .bx-controls-auto .bx-start {display: block;text-indent: -9999px;width: 10px;height: 11px;outline: 0;background: url('/html/assets/images/btn_mc_banner_play.png') no-repeat 50%;float: left;}
.bx-wrapper .bx-controls-auto .bx-stop {display: block;	text-indent: -9999px;width: 9px;height: 11px;outline: 0;background: url('/html/assets/images/btn_mc_banner_stop.png') no-repeat 50%;float: left;}
.main-slider .bx-wrapper .bx-controls-auto .active{ display:none;}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.main-slider .bx-wrapper .bx-controls-auto {	position: absolute;	width: 100%;text-align: center;left: 50%;bottom: 10px;height:40px;width: 30px;margin-left: 100px;}
.main-slider .bx-wrapper .bx-controls-auto-item {display: inline-block;float: left; top: 50%;margin-top: -5px;left: 40%;}







/* ===================================================================
 *  index
 * ------------------------------------------------------------------- */

.section-service {margin:0 auto;background:#f5f6f8;padding:20px 0;text-align: center;}

.service-item1 {height: 205px;}
.service-item1 .col-m-1 {float: left;padding:50px 30px;background:#fff;margin: 0;width:50%}
.service-item1 .col-m-1 > li {display:inline-block;font-size:15px;line-height:1.4;height: 105px;}
.service-item1 .col-m-1 > li > a {color:#000;text-align:center;vertical-align:top;font-weight:bold;width:50px;display: inline-block;}

.service-item1 .col-m-1 > li:nth-child(1) > a:hover{background:url('/html/assets/images/icon_menuline01_on.png') no-repeat;background-position:center 0px;transition-duration: 0.3s;}
.service-item1 .col-m-1 > li:nth-child(2) > a:hover{background:url('/html/assets/images/icon_menuline02_on.png') no-repeat;background-position:center 0px;transition-duration: 0.3s;}
.service-item1 .col-m-1 > li:nth-child(3) > a:hover{background:url('/html/assets/images/icon_menuline03_on.png') no-repeat;background-position:center 0px;transition-duration: 0.3s;}
.service-item1 .col-m-1 > li:nth-child(4) > a:hover{background:url('/html/assets/images/icon_menuline04_on.png') no-repeat;background-position:center 0px;transition-duration: 0.3s;}
.service-item1 .col-m-1 > li:nth-child(5) > a:hover{background:url('/html/assets/images/icon_menuline05_on.png') no-repeat;background-position:center 0px;transition-duration: 0.3s;}
.service-item1 .col-m-1 > li:nth-child(6) > a:hover{background:url('/html/assets/images/icon_menuline06_on.png') no-repeat;background-position:center 0px;transition-duration: 0.3s;}

.service-item1 .col-m-1 > li > a > img {margin-bottom: 15px;}
.service-item1 .col-m-1 > li > a:hover {color:#087ee3;}
.service-item1 .col-m-1 > li > a:hover > img{ visibility:hidden;margin-bottom: 15px;}


.service-item1 .col-m-2 {float:right;padding:49.3px 0;background:#eaebef;position:relative;margin: 0;padding-left: 80px;width:50%}
.service-item1 .col-m-2:after {background-image:url('/html/assets/images/service-item-bg.png');content:"";position:absolute;top: 21%;left: -1px;width: 100px;height: 150px;background-repeat: no-repeat;}
.service-item1 .col-m-2 > li {height: 105px;}
.service-item1 .col-m-2 > li > div {text-align:left;}
.service-item1 .col-m-2 > li > div > h2 {font-size:17px;text-align:left;font-weight:normal;margin: 0;padding-bottom:10px;font-weight: bold;color:#000;}
.service-item1 .col-m-2 > li > div > div > label {position: relative;vertical-align: middle;margin: 0;padding: 0;float: left;width: 65%;color: #555} 
.service-item1 .col-m-2 > li > div > div > label:before{content: "www.";position: absolute;top:0;left: 0;width: 50px;height: 40px;font-size: 15px;text-indent: 10px;line-height: 40px;}
.service-item1 .col-m-2 > li > div > div > label > input {height:40px;float: left;border:1px solid #fff;width:100%;text-indent:10px;font-size:15px;background:#fff;padding-left:45px;vertical-align: middle;color: #555}
.service-item1 .col-m-2 > li > div > div > button {border-radius: 0;height: 40px;background: #fb5e27;color:#fff;font-size:15px;}
.service-item1 .col-m-2 > li > div > div > button:hover{background: #ef490f;}
.service-item1 .col-m-2 > li > div > div > span {height:40px;display: inline-block;width:30%;background:#fb5e27;color:#fff;font-size:18px;line-height:1.5;}
.service-item1 .col-m-2 > li > div > div > span > select {border: none;height: 40px;background:#fb5e27;color: #fff;font-size:18px;font-weight: normal;cursor: pointer;width:150px;text-indent:10px; outline: 0;}
.service-item1 .col-m-2 > li > div > div > span > select > option{ border:none;}
.service-item1 .col-m-2 > li > div > ul {width:100%;margin-top:10px;text-align:left;display: inline-block;}
.service-item1 .col-m-2 > li > div > ul > li {display:inline-block;font-size:15px;color:#a9a9a9;}
.service-item1 .col-m-2 > li > div > ul > li > a {color:#555;font-size:13px;}



.service-item2 {margin-top:20px;}
.service-item2 > ul > li > div {padding:8%;min-height: 190px;background:#fff;}
.service-item2 > ul > li > div > h2 {font-size:17px;padding-bottom:20px;text-align:left;font-weight: bold;line-height: 1.5;}
.service-item2 > ul > li > div > h2 > span {color:#087ee3;}
.service-item2 > ul > li > div > a { display:table-cell;vertical-align: middle;font-size:15px;color:#555;line-height: 1.5;}
.service-item2 > ul > li > div > a > .fa-angle-right {color:#087ee3;font-size: 30px;text-align:left;padding-right:30px;vertical-align:middle;display: block;}
.service-item2 > ul > li > div > a:hover > .fa-angle-right {color: #fb5e27;}
.service-item2 > ul > li > div > img {position: absolute;right: 10%;top: 35%;}
.service-item2 > ul > li > div > div {display:table;padding:10px 0;width: 100%;}
.service-item2 > ul > li > div > div:nth-child(1) {border-bottom:1px solid #ddd;}
.service-item2 > ul > li > div > div > h2 {font-size:17px;width: 50%; display:table-cell;vertical-align:middle;padding-right:30px;font-weight: bold;}
.service-item2 > ul > li > div > div > h2  > span {color:#FFC107;}
.service-item2 > ul > li > div > div > p {display:table-cell;vertical-align: middle;font-size:15px;color:#555;line-height: 1.5;text-align: left;}
.service-item2 > ul > li > div > div > p  > span{color:#087ee3;}



.service-item3  {margin-top:20px;}
.service-item3 > ul > li > div {padding:8%;min-height: 190px;background:#fff;text-align: left;}
.service-item3 > ul > li > div > h2 {font-size:17px;padding-bottom:20px;text-align:left;font-weight: bold;line-height: 1.5;display:inline-block;}
.service-item3 > ul > li > div > a {color: #087ee3;font-size: 20px;position: absolute;right: 10%;top:12%;font-weight: bold;width:20px;text-align: right;}
.service-item3 > ul > li > div > a:hover {color: #fb5e27;}

.service-item3 > ul > li > div > ul {min-height:95px;}
.service-item3 > ul > li > div > ul > li > a {font-size:15px;line-height:1.4;color:#444;text-align:left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width:160px;display: inline-block;margin-bottom: 5px;}
.service-item3 > ul > li > div > ul > li > a > span {background: #fb5e27;color: #fff;padding:2px 5px;font-size: 10px;font-weight: bold;vertical-align: top;}
.service-item3 > ul > li > div > ul > li > span {float:right;vertical-align:top;line-height:1.4;font-size: 15px;}

.service-item3 > ul > li > div > div {text-align:center;min-height:95px;}
.service-item3 > ul > li > div > div > p {font-size:45px;color:#087ee3;line-height: 1.5;text-align: center;font-weight: bold;}
.service-item3 > ul > li > div > div > span {font-size:15px;text-align:center;display: block;color:#000;}

.service-item3 > ul > li > div > div > div {width:30%;display:inline-block;position: relative;}
.service-item3 > ul > li > div > div > div:nth-child(1):before {content:"";position: absolute;top:20%;right:0;width:1px;background:#ddd;height:30%;}
.service-item3 > ul > li > div > div > div:nth-child(2):before {content:"";position: absolute;top:20%;right:0;width:1px;background:#ddd;height:30%;}
.service-item3 > ul > li > div > div > div > a {display:block;margin-top: 5px;}
.service-item3 > ul > li > div > div > div > a:hover {color: #087ee3;}















/* ===================================================================
 *  service
 * ------------------------------------------------------------------- */

.tab01 > li {padding-left: 0px;padding-right: 0px;text-align: center;width: 20%;}
.tab01 > li > a {border-radius: 0px;font-size: 17px;}
.tab01 > li.active > a, .tab01 > li.active > a:focus, .tab01 > li.active > a:hover {background-color: #087ee3 !important;border-radius: 2px;}
.tab01 > li > a {background: #f5f6f8;border-radius: 2px;}
.tab01 > li > a:hover {background: #eeeeee;}
.tab01 > li+li {margin-left: 0; }

.tab02 > li {padding-left: 0px;padding-right: 0px;}
.tab02 > li > a {border-radius: 0px;padding:10px 0;text-align:center;}
.tab02 > li > a > strong {display: block;font-size: 18px;}
.tab02 > li.active > a, .tab02 > li.active > a:focus, .tab02 > li.active > a:hover {background-color: #087ee3 !important;border-radius: 2px;}
.tab02 > li > a {background: #f5f6f8;border-radius: 2px;font-size: 15px;line-height: 1.8;}
.tab02 > li > a:hover {background: #eeeeee;}
.tab02 > li+li {margin-left: 0; }

.subtitbox {background: url(https://d1.awsstatic.com/Test%20Images/Kate%20Test%20Images/pricing_pay-less-by-using-more.3c9c02be70b77748bbc523e42c828b2ade8dde03.png) no-repeat;background-position: right;padding:30px 0;}
.subtit {font-size: 30px;color: #000;padding: 0;margin-bottom: 20px;letter-spacing: -1px;}
.subtxt {font-size: 18px;color: #888;padding: 0;margin-bottom: 50px;display: block;line-height: 1.6;}

.price01 {table-layout:fixed;}
.price01 > thead > tr > th:nth-child(1) {background:#f8fafc; }
.price01 > thead > tr > th {vertical-align: middle;text-align:center;padding:30px 0;width: 15%;}
.price01 > thead > tr > th > h2 {font-size: 15px;font-weight: bold;}
.price01 > thead > tr > th > p {color:#555;margin-top:5px;font-size: 12px;}
.price01 > thead > tr > th > img {display:block;margin: 0 auto;padding:20px 0;max-width: 70%;}
.price01 > thead > tr > th > h3 {font-size:30px;margin:0;margin-bottom: 5px;font-family:tahoma;font-weight: bold;}
.price01 > thead > tr > th > h3 > span {font-size:12px;}
.price01 > thead > tr > th > span {display: block;color: #087ee3;font-size:12px;margin-bottom: 25px;}
.price01 > tbody > tr > td > p {margin-top: 5px;display: block;color: #087ee3;font-size: 12px;}
.price01 > tbody > tr > th {text-align:center;background:#f8fafc;vertical-align: middle;}
.price01 > tbody > tr > td {text-align:center;vertical-align: middle;}

.price02 {border:1px solid #ddd;padding: 20px;text-align: center;}
.price02 > h2 {font-size: 20px;padding: 0;margin: 15px 0;font-weight: bold;text-align: center;color: #087ee3;}
.price02 > p{font-size:15px;color: #666;text-align: center;}
.price02 > img {display:block;padding:20px 0;margin:0 auto;width: 10%;}
.price02 > h3{font-size:30px;margin:0;margin-top:20px;font-family:tahoma;font-weight: bold;text-align: center;}
.price02 > h3 > span {font-size:12px;margin:0;}
.price02 > h5{font-size:15px;margin:0;color: #fb5e27;padding-top:10px;padding-bottom:15px;text-align: center;}
.price02 > ul {padding-top:20px;width:80%;margin:0 auto;text-align: center;font-size: 17px;font-weight: bold;}
.price02 > ul > li {font-size:15px;margin-bottom:15px;width:100%;border-bottom: 1px dashed #ddd;}
.price02 > ul > li > span:nth-child(1) {display:inline-block;width:48%;color:#666;text-align:left}
.price02 > ul > li > span:nth-child(2) {display:inline-block;width:48%;color:#000;font-weight:bold;text-align:right}
.price02 > button {width:80%;margin:20px 0;display:inline-block;}
.price02:hover {border: 1px solid #ef490f;}

.price03 > div {padding:30px;border: 1px solid #ddd;margin-bottom:20px; }
.price03 > div > div {background: url(http://www.kasperskykorea.kr/files/attach/images/174/457/005/cb59f42bb9f2bcad9cd5669d73f35825.png) no-repeat;background-size: contain;}
.price03 > div > div > h2 {margin-left:110px;font-size: 15px;color: #087ee3;}
.price03 > div > div > p {margin-left: 110px;font-size: 30px;margin-bottom:10px;margin-top:5px;}
.price03 > div > div > span {margin-left: 110px;font-size: 12px;line-height: 1.2;display: block;}
.price03 > div > p {margin-top: 20px;font-size: 12px;}                 
.price03 > div > .btn-primary {width: 49%;display: inline-block;margin-top: 20px;}
.price03 > div > .btn-success {width: 100%;margin-top: 5px;}
.price03 > div:hover{border:1px solid #ef490f;}

.price04 {width:100%;}
.price04 > div {border:1px solid #ddd;padding:2%;margin-bottom:10px;background: #f9f9f9;width:100%;}
.price04 > div:hover {border:1px solid #ef490f;}
.price04 > div > div {width:100%;vertical-align:top}
.price04 > div > div:nth-child(1) {width:25%;display:inline-block;vertical-align: middle;}
.price04 > div > div:nth-child(2) {width:45%;display:inline-block;vertical-align: middle;}
.price04 > div > div:nth-child(3) {width:13%;display:inline-block;vertical-align: middle;}
.price04 > div > div:nth-child(4) {width:15.5%;display:inline-block;vertical-align: middle;text-align: right;}
.price04 > div > div > span {line-height: 20px;font-size: 11px;padding:0px  13px;color: #fff;vertical-align: top;margin-right:10px;display: inline-block;border-radius:3px}
.price04 > div > div > span.color01 {background:#ef490f}
.price04 > div > div > span.color02 {background:#4CAF50}
.price04 > div > div > span.color03 {background:#FFC107}
.price04 > div > div > span.color04 {background:#E91E63}
.price04 > div > div > h2 {font-size:17px;color:#000;margin: 10px 0;font-weight: bold;}
.price04 > div > div > p {color:#666;font-size: 12px;}
.price04 > div > div > h3 {font-size:20px;font-family:tahoma;color:#000;margin: 0;}
.price04 > div > div > h3 > span {font-size:15px;font-weight:normal}
.price04 > div > div > h5 {font-size:15px;color:#666;margin: 0;}
.price04 > div > div > ul {width:95%;display: inline-block;vertical-align: middle;}
.price04 > div > div > ul > li {float:left;text-align:center;border-right:1px solid #ddd;font-size: 15px;color:#666;width:19.5%;}
.price04 > div > div > ul > li:nth-child(5) {border-right:0}
.price04 > div > div > ul > li > span {color:#0982eb} 
.price04 > div > div > a {background:#0982eb;padding:10px;color:#fff;font-weight:bold;border-radius:3px;}



.price05 > div {padding:30px;border: 1px solid #ddd;margin-bottom:20px;position: relative;z-index: 1; transition-duration: 0.3s;height: 350px;}
.price05 > div > span {font-size: 12px;line-height: 1.2;display: block;color: #087ee3;}
.price05 > div > h2 {font-size: 20px;color: #087ee3;margin-top: 10px;}
.price05 > div > h3 {font-size: 50px;margin: 10px 0 5px 0;font-family: tahoma;font-weight: bold;}
.price05 > div > h4 {font-size: 15px;color: #555;}
.price05 > div > p {font-size: 15px;margin-bottom:10px;margin-top:5px;border-top:1px solid #ddd;padding: 20px 0;margin-top: 20px;}
.price05 > div > aside > ul {display: none;}
.price05 > div > aside > button {display: none;}
.price05 > div > aside:hover {position: absolute;top:0;left:0;background: #f5f6f8;z-index: 2;width: 100%;height: 100%; transition-duration:0.3s;height: 348px;cursor: pointer;}
.price05 > div > aside:hover > a {display: none;}
.price05 > div > aside:hover > a {display: none;}
.price05 > div > aside:hover > ul {display: block;height: 100%;width: 100%;padding: 9.5%;}
.price05 > div > aside:hover > ul > li {font-size:15px;margin-bottom:5px;width:100%;border-bottom: 1px dashed #ddd;padding: 10px 0;}
.price05 > div > aside:hover > ul > li > span:nth-child(1) {display:inline-block;width:48%;color:#666;text-align:left}
.price05 > div > aside:hover > ul > li > span:nth-child(2) {display:inline-block;width:48%;color:#000;font-weight:bold;text-align:right}
.price05 > div > aside:hover > ul > button {display: block;margin-top: 15px;}
.price05 > div:hover{border:1px solid #ef490f;}

.cunselt-content  {width: 100%;background:#f8fafc;margin: 50px 0;padding: 50px 0;}
.cunselt-content > div {margin: 0 auto;text-align: center;}
.cunselt-content > div > h3 {font-size: 40px;font-weight: 300;line-height: 1.3;letter-spacing: -2px;}
.cunselt-content > div > p {font-size: 16px;color: #666;letter-spacing: -1px;font-weight: 300;padding-top: 10px;}
.cunselt-content > div > a {padding: 15px 50px;font-size: 20px;margin: 20px 0;}
.cunselt-content > div > h4  {font-size: 40px;font-weight: 600;line-height: 1.3;font-family: tahoma;}
.cunselt-content > div > h4 > span {padding-top: 5px;display:inline-block;}

.add-title {font-size: 40px;color: #000;padding: 0;margin-bottom: 15px;display: block;line-height: 1.6;text-align: center;}
.adds-content {margin: 0 auto;padding-bottom: 50px ;}
.adds-content > ul > li{display:inline-block;position:relative;}
.adds-content > ul > li > div{width:100%;text-align: center;}
.adds-content > ul > li > div > a {width: 100%;height: 100%;display: inline-block;padding:15%;}
.adds-content > ul > li > div > a:hover > p {font-weight: 600;}
.adds-content > ul > li > div > a > img {margin-bottom: 20px;}
.adds-content > ul > li > div > a > p {font-size:25px; color:#000;margin-bottom: 10px;}
.adds-content > ul > li > div > a > p > span {font-size: 12px;}
.adds-content > ul > li > div > a > span {font-size: 14px; color:#000;}










/* ===================================================================
 *  application
 * ------------------------------------------------------------------- */

.table {border: 1px solid #ddd;margin-bottom: 0px;}
.table_title {font-size: 15px;color: #000;font-weight: bold;}
.not {font-size: 12px;vertical-align: 3px;color: #888;}
.total_price {font-size: 27px;font-weight: bold;color: #087ee3;font-family: 'Tahoma';}

.tableTypeA > tbody > tr > th {border-right: 1px solid #ddd;background: #f8fafc;}
.tableTypeA > tbody > tr > td > span{font-size: 12px;}
.tableTypeA > caption > label {display:inline-block;float: right;}
.tableTypeA > tbody > tr > td > h2 {margin-right:100px; display:block;font-size: 14px;font-weight: 600;}


.a_block {display: block;width: 35.5%;} 
.a_inlinblock {display: inline-block;top:0 !important;} 

.tableTypeB {border: 1px solid #ddd;}
.tableTypeB > thead > tr > th {background: #f8fafc;}
.tableTypeB > tbody > tr > th {text-align: center;}
.tableTypeB > tbody > tr > td {text-align: center;}

.tableTypeC {border:1px solid #ddd;}
.tableTypeC > tbody > tr > th {width:20%;background-color: #f8fafc !important;border-right: 1px solid #ddd;}
.tableTypeC > tbody > tr > td {}





.cart {right:0;width: 300px;float: right;margin: 87px 0;border:1px solid #ddd;padding:20px;}
.cart > table {border:0;}
.cart > table > caption {font-size: 17px;padding:15px;background: #334862;text-align: center;font-weight: bold;color:#fff;margin-bottom: 15px;}
.cart > table > thead > tr > th {text-align: center;width: 50%;display: inline-block;float: left;}
.cart > table > tbody > tr > td {width: 50%;display: inline-block;float: left;}
.cart > table > tbody > tr > td:nth-child(1) {text-align: left;float: left;}
.cart > table > tbody > tr > td:nth-child(2) {text-align: right;}
.cart > table > tbody > tr:last-child > td{width: 100%;text-align: right;}

.cart_billnum {border-top: 1px dashed #ddd;padding: 6px 0px 0;}

.cart_btnext {font-size: 16px;text-align: left;}
.cart_btnext > span {font-size: 15px;position: relative;top: 6px;right: 0;float: right;font-weight: 700;}
.cart_btprev {font-size: 16px;text-align: right;}
.cart_btprev > span {font-size: 15px;position: relative;top: 6px;right: 0;float: left;font-weight: 700;}

.tip {font-size: 12px;color: #989898;display: block;line-height: 1.5;}
.tip > a {font-weight: bold; font-size: 12px;}
.tip > a:hover{color:#ef490f;}

.hosingNum {padding:20px;border: 1px solid #ddd;background: #f8fafc;}e
.hosingNum > span {display: block;margin-bottom: 15px;font-size: 12px;color: #0aa761;}
.hosingNum > p {display: block;padding-bottom: 10px;}
.hosingNum > div {position: relative;}

.list {width:900px;}
.fixing {width: 880px;float:left;}

.signal {text-align: center;margin: 50px 0 100px;}
.signal > h2 {font-size: 50px;margin: 25px 0;line-height: 1.4;}
.signal > h2 > span{font-weight: 600;}
.signal > p {font-size: 20px;color: #555;}
.signal > p > span {color: #087ee3;} 
.signal > i  {font-size: 80px;color: #087ee3;}

.btn_xs {float:right;font-size: 11px;padding: 2px 6px;position: relative;top: -3px;}

.btnBox {width: 100%;display: inline-block;text-align: center;margin-top: 30px;}
.btnBox > button {width: 100%;padding:3% 5%;display: inline-block;margin: 0 auto;}
.btnBox > a {width: 100%;text-align: left;}

.radio_down {margin-bottom:10px;width: 100%;}
.radio_w {width: 100%;}








/* ===================================================================
 *  footer_slider
 * ------------------------------------------------------------------- */
.footer_slider {margin: 0 auto;margin-top: 20px;}
.footer_slider .bg-box{width:100%;height:90px !important;}
.footer_slider .bg-box01{background:url('#') no-repeat;background-size:cover;background-position:center center;background:#abb9f6;}
.footer_slider .bg-box02{background:url('#') no-repeat;background-size:cover;background-position:center center;background:#ecf3bf;}
.footer_slider .bx-controls-auto {display: none;}
.footer_slider .bx-wrapper .bx-pager {display: none;}
.footer_slider .bx-wrapper .bx-prev {left: 0;background:#fff url('/html/assets/images/main_slide_prev.png') no-repeat 50%;}
.footer_slider .bx-wrapper .bx-next {right: 0;background:#fff url('/html/assets/images/main_slide_next.png') no-repeat 50%;}
.footer_slider .bx-wrapper .bx-controls-direction a {position: absolute;top: 50%;margin-top: -16px;outline: 0;	width: 32px;height: 32px;text-indent: -9999px;z-index: 9999;}
.footer_slider .bx-wrapper .bx-controls-direction a.disabled {	display: none;}















/* ===================================================================
 *  agreements
 *
 * ------------------------------------------------------------------- */


.agreements {margin:0 auto;background:#fff;text-align:left;}
.agreements > p {line-height: 1.8;}
.agreements > p > span {padding:20px 0 20px 50px;display: block;font-size:13px;color:#666} 
.agreements > p > span > span {padding:20px 0 20px 50px;display: block;font-size:13px;color:#888} 
 
.agreements > h3 {padding:50px 0 20px 0;font-size:17px;font-weight: bold;}
.agreements > h4 {font-size:12px;    line-height: 25px; font-style: inherit;padding:20px 50px }
.agreements > h4 > b {color:#0075CB;}
.agreements > table {border-collapse: collapse;width:100%;font-size:13px}
.agreements > table > caption {text-align:left;margin-bottom:10px}
.agreements > table > thead > tr > th  {border:1px solid #ddd;line-height:50px;text-align:center;background:#f5f6f8;}
.agreements > table > tbody > tr > td {border:1px solid #ddd;line-height:30px;text-align:center;padding:10px }
.agreements > table > tbody > tr > th  {border:1px solid #ddd;line-height:30px;text-align:center;background:#f5f6f8;}

.agreements > div > dl {display:inline-block;vertical-align:top;padding: 20px;background: #f5f6f8;width: 100%;min-height: 250px;margin-bottom: 20px;}
.agreements > div > dl > dt {font-weight:bold;display:block;background:#fff; display: block;margin-bottom: 15px;padding: 5px 0 5px 10px;}
.agreements > div > dl > dd {margin:0;font-weight:normal;color:#0075CB;font-size:12px;line-height:20px}


.tab03 > li {padding-left: 0px;padding-right: 0px;}
.tab03 > li > a {border-radius: 0px;padding:10px 0;text-align:center;}
.tab03 > li > a > strong {display: block;font-size: 18px;}
.tab03 > li.active > a, .tab03 > li.active > a:focus, .tab03 > li.active > a:hover {background-color: #087ee3 !important;border-radius: 2px;}
.tab03 > li > a {background: #f5f6f8;border-radius: 2px;font-size: 18px;line-height: 1.8;}
.tab03 > li > a:hover {background: #eeeeee;}
.tab03 > li+li {margin-left: 0; }















/* ===================================================================
 * footer
 * ------------------------------------------------------------------- */

.footer{width:100%;margin:0 auto;text-align: center;position: relative;background: #efefef;}

.sitemap {padding:30px 0;}
.sitemap > ul {display:inline-block;text-align:left;}
.sitemap > ul > li {vertical-align: top;display: inline-block;padding: 0;}
.sitemap > ul > li > p {font-weight: bold;margin-bottom: 20px;}
.sitemap > ul > li > p > a {color:#000;font-size: 17px;line-height: 1.5;}
.sitemap > ul > li > ul {width: 100%;display: inline-block;}
.sitemap > ul > li > ul > li > a {color:#555;line-height: 2;font-size: 14px;}
.sitemap > ul > li > ul > li > a:hover {color:#0982eb;}
.sitemap > ul > li > ul > li > a > img{vertical-align: text-bottom;}
    



.address {margin:0 auto;text-align: left;padding:30px 0;background:#f5f6f8;width:100%;}
.address > span {margin-top:10px;display:block;color:#000;font-weight:bold;font-size:14px;text-align: left;margin: 0 auto;}
.address .col-m-1 {padding-bottom:15px;text-align: left;margin: 0 auto;}
.address .col-m-1 > li {display:inline-block;padding-right:10px;font-size:15px;}
.address .col-m-1 > li > a {color:#000;}
.address .col-m-1 > li > a:hover {color:#087ee3;}
.address .col-m-1 > li > a.link {font-weight:bold;}
.address .col-m-2 {text-align:left;margin: 0 auto;}
.address .col-m-2 > li {font-size:14px;display:inline-block;margin-right:5px;color:#6b6865;line-height: 1.7;}
.address .col-m-2 > li > a {color:#087ee3;font-weight:bold;}

#back-to-top {position: fixed;right: 2%;bottom: 5%;z-index: 60;background: #087ee3;border-radius: 2px;border: 0;padding: 5px 10px;}
